$ORIGIN .
$TTL 600  ; 10 minutes
ZONE_VALUE.in-addr.arpa IN SOA  NAMED_HOSTNAME_VALUE. hostmaster.DOMAIN_NAME_VALUE. (
        10        ; serial
        600        ; refresh (10 minutes)
        60        ; retry (1 minute)
        604800    ; expire (1 week)
        600        ; minimum (10 minutes)
        )
        NS  NAMED_HOSTNAME_VALUE.
$ORIGIN ZONE_VALUE.in-addr.arpa.
LAST_OCTET_VALUE PTR NAMED_HOSTNAME_VALUE.
